web_spider/bulidings/__pycache__
DeepLearning/__pycache__
DeepLearning/tensorflow/MNIST_data
web_spider/bulidings/data
utils/data
web_spider/__pycache__/
web_spider/demo/__pycache__/
/.idea/
*.log
*.xml
NLP/pos_tagging/data/
web_spider/douyin/VM2841.txt
DeepLearning/pytorch/mnist/
demo/data_fountain/EmotionRrecognition/data/
NLP/ner/data/
demo/data_fountain/EmotionRrecognition/models/

